body {
    background-color:blanchedalmond
}

.jobgoal .job .school {
    font-weight:bolder
}

h1,h5 {
    text-align: center;
}

.jobgoal {
    text-align: center;
}

.container.fluid {
    color:gold;
}

 